:root {
  --back-color: #29303b;
  --back-color-wrapper: #333;
  --white-color: #fff;
  --border-wrapper-color: 1px solid #1c232d;
  --shadow-wrapper-color: 0 0 15px #1c232d;
  --text-color: rgb(255, 99, 71);
  --option-color: #333;
}
