@import "./colors";
@import "./components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--back-color);
  padding: 1em;
  font-family: "Barlow Condensed", sans-serif;
}

.appBody {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  &__sectionLeft,
  &__sectionRight {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-bottom: 0.3em;
    width: 100%;
    font-size: 4rem;
  }

  select {
    padding: 0.5em 0.7em;
    font-size: 1.5rem;
    cursor: pointer;
  }

  select,
  input {
    color: var(--white-color);
    border: none;
    background: none;
    text-align: center;

    &:focus {
      outline: none;
      color: var(--text-color);
    }
  }

  option {
    color: var(--option-color);
  }

  &__swap {
    align-self: flex-end;
    margin: 0.4em;
    padding: 0.4em 2.5em;
    background-image: linear-gradient(45deg, #4c4750, #403c46);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--white-color);

    &:focus {
      outline: none;
      background-image: linear-gradient(45deg, #2c2b2e, #28242e);
    }
  }
}
.rateInfo {
  margin-top: 1.5em;
}
