@import "./colors";
@import "./components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--back-color);
  padding: 1em;
  font-family: "Barlow Condensed", sans-serif;
}
